@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="~/Content/External style/usersview.css" rel="stylesheet" />
    <title>Admin</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="~/Content/Images/logo.png">
            
        </div>
        <h2>Admin</h2>
    </header>
    <div class="sidenav">
        <a href="/Home/adminhome">Home</a>
        <a href="/index/addmovies">Add Movies</a>
        <a href="/index/viewmovie">View Movies</a>
        <a href="/index/show_data">View Customers</a>
        <a href="/index/adminviewbooking">Booked Movies</a>
        <a href="/index/Logout">Logout</a>
    </div>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Date of birth</th>
                    <th>Gender</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Username</th>
                    <th>Action</th>
                </tr>
            </thead>

            @{
                foreach (System.Data.DataRow dr in ViewBag.customer.Rows)
                {

                        <tr>
                            <td>@dr["id"]</td>
                            <td>@dr["firstname"]</td>
                            <td>@dr["lastname"]</td>
                            <td>@dr["dateofbirth"]</td>
                            <td>@dr["gender"]</td>
                            <td>@dr["phonenumber"]</td>
                            <td>@dr["email"]</td>
                            <td>@dr["address"]</td>
                            <td>@dr["state"]</td>
                            <td>@dr["city"]</td>
                            <td>@dr["username"]</td>

                            <td>
                                <a href="/index/deletecustomer?id=@dr["id"]" style="color: #000000; text-decoration: none; font-weight: bold;">Delete</a>
                            </td>
                        </tr>
                }
            }
        </table>
    </div>
    </form>
</body>
</html>
<footer style="margin-top:1px;">
    <p>copyright@2023</p>
</footer>
</body>
</html>


